@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

:root {
    --accent-color: #4842FF;
    --main-color: black;
}

body {
    max-width: 1900px;
    margin: auto;
    background-color: #F6F5F5;
}

header {
    background-color: white;
}

header nav .logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.8rem;
    color: var(--accent-color);
    padding: 10px;
    padding-top: 20px;
}

header nav .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

header nav .menu a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Public Sans', sans-serif;
    padding: 23.7px;
    border: 1px solid #F4F4F4;
}

header nav .menu a:hover {
    background-color: #E4E4E4;
}

 header .line {
    border-bottom: 2px solid #E4E4E4;
    margin: auto;
} 

@media (min-width: 320px) { 
    header nav {
        display: flex;
    }
    header nav .menu{
        flex: 1;
    }
}


